.input-component {
  width: 100%;
}

.input {
  width: 100%;
  padding: 10px 21px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 170%;
  color: #32343f;
  outline: none;
  background: none;
  border: 2px solid #32343f;
  transition: all 0.3s ease;

  &::placeholder {
    color: #989fb7;
  }

  &:focus {
    border-color: #f1554c;
  }
}
