@import "../../mixins.scss";

.section-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d9d9d9;
  padding: 0 20px;

  @include tablets {
    padding: 0 10px;
  }
}
