@import "../../mixins.scss";

.navigation__list {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.navigation__item {
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 12px;
  line-height: 24px;
  letter-spacing: 0.1em;
  color: #32343f;
  margin-right: 30px;
  position: relative;

  @include desktop {
    font-size: 12px;
  }

  &:last-child {
    margin-right: 0;
  }

  &.active {
    color: #f1554c;
    position: relative;

    &::after {
      width: 110%;
      left: -5%;
    }
  }

  &:hover {
    color: #f1554c;

    &:hover:after {
      width: 110%;
      left: -5%;
    }
  }

  &:after {
    content: "";
    pointer-events: none;
    top: 180%;
    left: 55%;
    position: absolute;
    width: 0%;
    height: 4px;
    background-color: #f1554c;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
    border-radius: 2px;
  }
}
