// svg
$to-back: url("@/assets/rappid/toBack.svg");
$to-front: url("@/assets/rappid/toFront.svg");
$fit: url("@/assets/rappid/fit.svg");
$zoom-in: url("@/assets/rappid/zoomIn.svg");
$zoom-out: url("@/assets/rappid/zoomOut.svg");
$trash: url("@/assets/rappid/trash.svg");
$arrow: url("@/assets/rappid/arrow.svg");

@import "../../mixins.scss";

#rappid {
  height: 100%;
}

.joint-app {
  height: 100%;
  padding: 20px 0 40px;

  & * {
    font-family: "Open Sans", sans-serif !important;
  }
}

.app-header {
  position: relative;
  width: 100%;
}

.app-body {
  display: flex;
  position: relative;
  height: 100%;
}

/* Modern */

button.joint-widget.joint-theme-modern {
  min-width: fit-content;
  border: none;
  position: relative;
  transition: all 0.5s ease;
  color: #32343f;
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding: 0;

  &:not([disabled]) {
    &:hover {
      background: none;
      color: #f1554c;

      &:hover::before {
        width: 100%;
        left: 0;
      }
    }

    &::before {
      content: "";
      pointer-events: none;
      top: 105%;
      left: 50%;
      position: absolute;
      width: 0%;
      height: 4px;
      background-color: #f1554c;
      transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
      transition-duration: 400ms;
      transition-property: width, left;
      border-radius: 2px;
    }
  }

  &::after {
    width: 25px !important;
    height: 25px !important;
  }
}

.joint-widget.joint-theme-modern input[type="range"]:after {
  background: #9aa1b9;
}

.joint-stencil.joint-theme-modern {
  color: #000;
  background: none;
}

.joint-theme-picker.joint-theme-modern {
  border: 1px solid lightgray;
}

.joint-widget.joint-theme-modern[data-name="clear"]:after,
.joint-widget.joint-theme-modern[data-name="layout"]:after,
.joint-widget.joint-theme-modern[data-name="print"]:after {
  display: block;
  width: 31px;
  height: 31px;
  content: " ";
  background: none;
}

.joint-widget.joint-theme-modern[data-name="clear"]:after {
  background-position: 0 -62px;
}

.joint-widget.joint-theme-modern[data-name="clear"]:hover:after {
  background-position: -31px -62px;
}

.joint-widget.joint-theme-modern[data-name="layout"]:after {
  background-position: 0 -124px;
}

.joint-widget.joint-theme-modern[data-name="layout"]:hover:after {
  background-position: -31px -124px;
}

.joint-widget.joint-theme-modern[data-name="print"]:after {
  background-position: 0 -248px;
}

.joint-widget.joint-theme-modern[data-name="print"]:hover:after {
  background-position: -31px -248px;
}

.joint-widget.joint-theme-modern[data-type="fullscreen"],
.joint-widget.joint-theme-modern[data-type="redo"],
.joint-widget.joint-theme-modern[data-type="undo"],
.joint-widget.joint-theme-modern[data-type="zoomIn"],
.joint-widget.joint-theme-modern[data-type="zoomOut"],
.joint-widget.joint-theme-modern[data-type="zoomToFit"] {
  position: relative;
  border: none;
  top: 0;
  padding: 0;
}

.joint-paper-scroller.joint-theme-modern {
  background: none;
}

.joint-paper-scroller.joint-theme-modern .joint-paper {
  background-color: #f4f4fc;
  border-radius: 20px;
}

// ========================================================

.joint-toolbar {
  display: flex;
  align-items: center;
}

.joint-navigator.joint-theme-modern .current-view {
  border: 2px solid #31d0c6;
}

// Paper

.paper-container {
  height: 100%;
  width: calc(100% - 240px);

  @include tablets {
    width: 100%;
  }
}

.joint-paper-scroller > .paper-scroller-background {
  margin: 0;
  position: relative;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}

.joint-paper-scroller {
  position: relative;
  overflow: scroll;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  max-height: 100000px;
  max-width: 100000px;

  & .joint-paper {
    margin: 0;
    position: absolute;
    display: inline-block;
  }
}

// Stencil

.joint-stencil {
  width: 100%;
  height: 100%;
  position: relative;
}

.joint-stencil.joint-theme-modern .group > .group-label {
  background: none;
}

.joint-stencil .search-wrap {
  padding: 0 10px;
}

.joint-stencil .groups-toggle {
  margin-bottom: 10px;
}

.joint-stencil .content {
  position: relative;
  top: 0;
}

.joint-stencil.joint-theme-modern .search {
  margin: 0;
  width: 100%;
  padding: 10px 21px;
  border-radius: 100px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #32343f;
  outline: none;
  background: none;
  border: 2px solid #32343f;
  transition: all 0.3s ease;

  &::placeholder {
    color: #989fb7;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }

  &:focus {
    border-color: #f1554c;
  }
}

.joint-stencil.joint-theme-modern .group > .group-label,
.joint-stencil.joint-theme-modern .groups-toggle > .group-label {
  transition: all 0.3s ease;

  &:hover {
    color: #f1554c;

    &::before {
      fill: #f1554c;
    }
  }
}

.stencil-container {
  position: absolute;
  left: 0;
  top: 0;
  width: 240px;
  height: 100%;
}

.joint-stencil .joint-element[data-type="standard.Image"] text,
.joint-stencil .joint-element[data-type="standard.Cylinder"] text,
.joint-stencil .joint-element[data-type="standard.InscribedImage"] text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .inPorts text,
.joint-stencil .joint-element[data-type="devs.Atomic"] .outPorts text,
.joint-stencil .joint-element[data-type="pn.Transition"] text,
.joint-stencil .joint-element .joint-port text {
  display: none;
}

.joint-stencil .joint-element.joint-type-uml rect,
.joint-stencil .joint-element.joint-type-uml path {
  stroke: #4a4d6e;
}

// Navigator

.navigator-container {
  position: relative;
  width: 100%;
  height: 120px;

  @include tablets {
    display: none;
  }
}

.joint-navigator {
  overflow: hidden;
  position: relative;
  display: table-cell;
  text-align: center;
  vertical-align: middle;
  box-sizing: border-box;

  & .current-view {
    position: absolute;
    cursor: move;
    margin: -2px 0 0 -2px;
  }
}

.joint-navigator.joint-theme-modern {
  background: none;
}

// Inspector

.inspector__wrap {
  display: flex;
  flex-direction: column;
  width: 240px;
  background: #e9ecf4;
  border-radius: 20px;

  @include tablets {
    position: absolute;
    width: 0;
    right: 0;
    transition: all 0.3s ease;

    &.show {
      width: 240px;
    }
  }
}

.inspector-container {
  width: 100%;
  max-height: calc(100% - 120px);
  flex: 1;
}

.joint-inspector.joint-theme-modern .group > .group-label {
  background: none;
}

.joint-inspector {
  position: relative;
  height: 100%;
  padding: 10px 5px;
}

.object-property[data-property$="/fill"],
.object-property[data-property$="/stroke"],
.field[data-field$="/fill"],
.field[data-field$="/stroke"] {
  display: inline-block;
  vertical-align: top;
  width: 50%;
}

.joint-select-box.joint-color-palette
  .select-box-option:nth-child(2):not(.hover) {
  border: inset;
  border-width: 1px;
}

.joint-inspector-select-box-options {
  width: 190px;
}

.joint-inspector.joint-theme-modern {
  background: none;
  color: #32343f;
  font-weight: 600;

  & .list-item {
    background: none;
  }
}

.joint-inspector.joint-theme-modern .content-editable,
.joint-inspector.joint-theme-modern input[type="number"],
.joint-inspector.joint-theme-modern input[type="text"],
.joint-inspector.joint-theme-modern select,
.joint-inspector.joint-theme-modern select.select,
.joint-inspector.joint-theme-modern textarea {
  margin: 0;
  width: 100%;
  padding: 0 10px;
  border-radius: 10px;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #32343f;
  outline: none;
  background: none;
  border: 2px solid #32343f;
  transition: all 0.3s ease;
  box-sizing: border-box;

  &::placeholder {
    color: #989fb7;
    font-weight: 700;
    font-size: 12px;
    line-height: 20px;
    letter-spacing: 0.1em;
    text-transform: capitalize;
  }

  &::selection {
    color: #32343f;
  }

  &:focus {
    border-color: #f1554c;
  }
}

.joint-inspector.joint-theme-modern .toggle {
  overflow: hidden;

  & * {
    transition: all 0.3s ease;
  }

  & input:checked + span {
    background: #f1554c;
  }

  & span {
    background: #0b2361;
    & i {
      box-shadow: none;

      &::before {
        color: #e9ecf4;
        font-size: 10px;
      }
    }
  }
}

.joint-inspector.joint-theme-modern .btn-list-add,
.joint-inspector.joint-theme-modern .btn-list-del {
  box-shadow: none;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.1em;
  background: none;
  transition: all 0.3s ease;
  padding: 5px 10px;
  background: #f1554c;
  border-radius: 50px;
  color: #fff;

  &:hover {
    box-shadow: none;
    background: #e74339;
  }
}

.joint-inspector .joint-select-box.joint-theme-modern .select-box-selection {
  border-radius: 10px;
  color: #32343f;
  font-size: 12px;
  font-weight: 600;
  letter-spacing: 0.1em;
}

.select-box-option {
  font-size: 12px;
  letter-spacing: 0.1em;
  font-weight: 500;
}

.select-box-option.selected:after {
  display: none;
}

.joint-select-box-options.joint-theme-modern,
.joint-select-box.joint-theme-modern .select-box-option.hover {
  border-radius: 10px;
}

.joint-select-box-options.joint-theme-modern {
  background: #f4f4fc;
  border: 2px solid #f1554c;
}

.joint-select-box.joint-theme-modern .select-box-option.hover {
  background: #f1554c;
  transition: background 0.3s ease;
}

.select-box-selection {
  overflow: hidden;
  border: none;
}

.joint-inspector.joint-theme-modern
  .joint-select-box.joint-color-palette.joint-theme-modern
  div.select-box-selection {
  border: none;
}

.joint-select-box[data-attribute$="/stroke"].joint-color-palette.joint-theme-modern
  .select-box-selection
  div.select-box-option-content:after {
  background: none;
  left: 0;
  top: 0;
}

.joint-inspector.joint-theme-modern .list-item {
  padding-right: 0;
}

// Toolbar

.toolbar-container {
  display: inline-block;
  position: absolute;
  height: 100%;
  left: 240px;
  right: 0;
  box-sizing: border-box;
}

.joint-toolbar.joint-theme-modern {
  background: none;
  padding: 0;

  @include tablets {
    flex-wrap: wrap;
    justify-content: flex-end;
  }
}

.toolbar-container label {
  white-space: nowrap;
}

.toolbar-container button:not(:empty) {
  padding: 0 4px;
}

.toolbar-container button.joint-widget[data-type="zoomIn"],
.toolbar-container button.joint-widget[data-type="zoomOut"] {
  display: none;
}

.joint-dialog.joint-lightbox .fg {
  background-color: #fff;
  width: fit-content !important;
  height: 70vh !important;

  & .body {
    padding: 50px 100px;
  }

  & img {
    object-fit: contain;
  }
}

.joint-widget.joint-theme-modern[data-name="back"],
.joint-widget.joint-theme-modern[data-name="redo"],
.joint-widget.joint-theme-modern[data-name="clear"],
.joint-widget.joint-theme-modern[data-type="zoomOut"],
.joint-widget.joint-theme-modern[data-type="zoomIn"],
.joint-widget.joint-theme-modern[data-type="zoomOut"],
.joint-widget.joint-theme-modern[data-type="zoomToFit"],
.joint-widget.joint-theme-modern[data-name="to-front"],
.joint-widget.joint-theme-modern[data-name="to-back"] {
  &::after {
    content: "";
    background-image: none !important;
    background-color: #9aa1b9 !important;
    background-position: center;
    transition: all 0.3s ease;
  }

  &:not([disabled]):hover {
    &::after {
      background-color: #f1554c !important;
    }
  }
}

.joint-widget.joint-theme-modern[data-name="back"],
.joint-widget.joint-theme-modern[data-name="redo"] {
  &::after {
    -webkit-mask: $arrow;
    mask: $arrow;
    mask-size: 85%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-name="redo"]::after {
  transform: rotate(180deg);
}

.joint-widget.joint-theme-modern[data-name="clear"] {
  &::after {
    -webkit-mask: $trash;
    mask: $trash;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-type="zoomOut"] {
  &:after {
    -webkit-mask: $zoom-out;
    mask: $zoom-out;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-type="zoomIn"] {
  &:after {
    -webkit-mask: $zoom-in;
    mask: $zoom-in;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-type="zoomToFit"] {
  &:after {
    -webkit-mask: $fit;
    mask: $fit;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-name="to-front"] {
  &::after {
    -webkit-mask: $to-front;
    mask: $to-front;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget.joint-theme-modern[data-name="to-back"] {
  &::after {
    -webkit-mask: $to-back;
    mask: $to-back;
    mask-size: 90%;
    mask-repeat: no-repeat;
    mask-position: center center;
  }
}

.joint-widget {
  position: relative;
}
.joint-widget > input[type="range"] {
  & + output {
    position: absolute;
    top: -60%;
    left: 50%;
    transform: translateX(-50%);
    min-width: auto;
    margin-left: 0;
  }
}

.joint-inspector.joint-theme-modern
  input[type="range"]::-webkit-slider-runnable-track {
  background: #989fb7;
}

.joint-widget input[type="range"]::-webkit-slider-thumb,
.joint-inspector.joint-theme-modern input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none !important;
  background: #f1554c !important;
  height: 10px;
  width: 10px;

  &:hover {
    cursor: pointer;
  }
}

.joint-inspector.joint-theme-modern input[type="range"]::-webkit-slider-thumb {
  width: 8px;
  height: 8px;
}

.joint-inspector.joint-theme-modern .units,
.joint-inspector.joint-theme-modern output {
  color: #32343f;
  font-weight: 600;
}

.joint-toolbar.joint-theme-modern .units {
  display: none;
}

.joint-widget input[type="range"] {
  & + output {
    font-size: 12px;
    font-family: "Open Sans", sans-serif !important;
    font-weight: 600 !important;
    margin-left: 5px;
    color: #9aa1b9;
  }
}

.joint-widget[data-type="zoomSlider"] {
  & output {
    &::after {
      content: "%";
    }
  }
}

div.joint-toolbar .joint-toolbar-group {
  margin-right: 20px;
}

.joint-navigator.joint-theme-modern .current-view-control {
  background-color: #f1554c;
  border: none;
  width: 7px;
  height: 7px;
  margin: 0;
  transform: translate(60%, 60%);
}

.joint-halo.joint-theme-modern .box {
  background: #32343f;
  font-size: 10px;
  font-weight: 500;
  color: #fff;
}

.joint-free-transform.joint-theme-modern {
  border: 1px solid #f4f4fc;
}

.joint-free-transform.joint-theme-modern .resize,
.joint-free-transform.joint-theme-modern .rotate {
  background: #989fb7;
}

.joint-highlight-stroke {
  stroke: #f1554c;
  stroke-width: 2;
}

.joint-halo .handle.hidden {
  display: block;
}

.joint-selection.joint-theme-modern .selection-wrapper,
.joint-selection.joint-theme-modern .selection-box {
  border: 2px solid #f1554c;
}
