.main-projects {
  display: flex;
  flex-direction: column;
}

.main-projects__create {
  display: flex;
  justify-content: center;
  margin-bottom: 40px;
}

.main__new-project {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 380px;
  height: 200px;
  background: #e9ecf4;
  border-radius: 20px;
  align-self: center;
  transition: background 0.5s ease;

  & span {
    font-weight: 700;
    font-size: 12px;
    line-height: 24px;
    letter-spacing: 0.1em;
    color: #32343f;
    transition: color 0.5s ease;
  }

  &:hover {
    & span {
      color: #0b2361;
    }

    & .new-project__circle {
      background: #0b2361;
    }
  }
}

.new-project__circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #f1554c;
  position: relative;
  margin-bottom: 20px;
  transition: background 0.5s ease;

  &::after,
  &::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 35px;
    height: 2px;
    border-radius: 20px;
    background: #e9ecf4;
  }

  &::before {
    transform: translate(-50%, -50%) rotate(90deg);
  }
}
