.project__item {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 2px;

  &:hover {
    .item__link {
      background: #e9ecf4;
    }
  }
}

.projects__title {
  padding: 0 5px;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #989fb7;
  margin-bottom: 20px;

  & span:last-child {
    justify-self: flex-end;
  }
}

.item__link {
  position: relative;
  width: 100%;
  padding: 5px;
  border-radius: 10px;
  transition: background 0.5s ease;
  z-index: 10;

  &:hover {
    cursor: pointer;
  }
}
