@import "../../mixins.scss";

.project-item {
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 700;
  font-size: 12px;
  line-height: 20px;
  letter-spacing: 0.1em;
  color: #32343f;
  position: relative;

  &:hover {
    & .project__remove {
      left: -35px;
    }
  }

  @include tablets {
    flex-direction: column;
  }
}

.project__file {
  flex: 1;
  display: grid;
  grid-template-columns: 1.7fr 1fr 1fr;

  @include desktop {
    grid-template-columns: 0.85fr 0.6fr 0.9fr;
  }

  @include tablets {
    font-size: 1.5rem;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    width: 100%;
    justify-items: center;
    grid-row-gap: 1rem;
  }
}

.project__preview {
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #e9ecf4;
  border-radius: 5px;
  margin-right: 20px;
  position: relative;
  z-index: 20;

  @include desktop {
    margin-right: 10px;
  }

  @include tablets {
    margin-right: 0;
    margin-bottom: 1rem;
    width: 50px;
    height: 50px;
  }
}

.project__icon {
  width: 60%;
  height: 60%;
}

.project__last-active {
  justify-self: flex-end;

  @include tablets {
    justify-self: auto;
  }
}

.project__remove {
  width: 35px;
  height: 20px;
  position: absolute;
  left: 0;
  overflow: hidden;
  transition: left 0.5s ease;
  z-index: 1;

  @include tablets {
    display: none;
  }
}
