// media
$bp-desktop-hd: "1800px";
$bp-desktop: "1200px";
$bp-tablets: "768px";
$bp-between-tab-phone: "650px";
$bp-phones: "480px";

// z-index
$z-container: "15";

// color
$text-color_light: "#fff";