.login,
.register {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.login__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #32343f;
  margin-bottom: 17px;
}

.authorization,
.registration {
  display: flex;
  flex-direction: column;
  width: 400px;

  &__inputs {
    margin-bottom: 15px;
  }

  &__input {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 0.1em;
    color: #fff;
  }
}

.login__logo {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}

.login__sub {
  width: 400px;
  display: flex;
  justify-content: flex-start;
  padding-top: 10px;
}

.login__registration {
  width: 100%;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 27px;
  text-align: center;
  letter-spacing: 0.05em;
  color: #fff;
}
