.login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 50px;
}

.login__title {
  font-weight: 700;
  font-size: 16px;
  line-height: 27px;
  letter-spacing: 0.05em;
  color: #32343f;
  margin-bottom: 17px;
}

.authorization {
  width: 400px;

  &__inputs {
    margin-bottom: 15px;
  }

  &__input {
    margin-bottom: 15px;

    &:last-child {
      margin-bottom: 0;
    }
  }

  &__btn {
    font-size: 12px;
  }
}

.login__logo {
  width: 60px;
  height: 60px;
  margin-bottom: 30px;
}
